<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="profile-container">
    <img *ngIf="profileImage; else defaultImage" [src]="profileImage" class="profile-img" />

    <ng-template #defaultImage>
      <img src="assets/default-profile.png" class="profile-img" />
    </ng-template>

    <ion-button expand="full" (click)="changeProfilePicture()">
      Cambiar Foto de Perfil
    </ion-button>
  </div>
</ion-content>
